*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfbfb;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-top {
  position: absolute !important;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
}